<h2>
  <%= link_to t('application.application.log_in')%>
</h2>

<%= form_with model: @user ,url:user_session_path, local: true  do |f| %>
  <div class="field">
    <%= link_to t('application.application.email') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= link_to t('application.application.log_in')%><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= link_to t('application.application.Remember_me' )%>
    </div>
  <% end %>

  <div class="actions">
    <%= button_tag "#{t('application.application.log_in')}" %>
  </div>
<% end %>

