<div calss='chat-room-form'>
  <h1>チャットルーム作成</h1>
  <div class='chat-room-back'>
  <%= form_with model: @room, local: true do |f| %>
    <div class='chat-room-form_field'>
      <div class='chat-room-label_field'>
        <%= f.label :ルーム名, class: 'chat-room-label'%>
      </div>
      <div class='chat-room-name'>
        <%= f.text_field :title, class: 'chat-room-name_fill', placeholder:'チャットルーム名を記入してください'%>
      </div>
    </div>

    <div class='chat-room-center'>
      <div class ='chat-room-center_select'>
        <%= f.label :部署 ,class: 'chat-room-center_select_post' %>
        <%= f.label :メールアドレス,class: 'chat-room-center_select_post' %>
      </div>
      <div class = 'chat-room-center_fill'>
        <div id="input_pluralBox">
          <div id="input_plural">
            <input type="button" value="＋" class="add pluralBtn">
            <input type="button" value="－" class="del pluralBtn">

            <select post="room[user_ids][]">
              <option value="">部署を選んでください</option>
              <% User.where.not(id: current_user.id).each do |user| %>
                <option value=<% user.id %>><%= user.post %></option>
              <% end %>
            </select>
            <select name="room[user_ids][]">
              <option value="">チャットするユーザーを選択してください</option>
              <% User.where.not(id: current_user.id).each do |user| %>
                <option value=<%= user.id %>><%= user.name %></option>
              <% end %>
            </select>
            <input name="room[user_ids][]" type="hidden" value=<%= current_user.id%>>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript">
              $(document).on("click", ".add", function() {
              $(this).parent().clone(true).insertAfter($(this).parent());
              });
              $(document).on("click", ".del", function() {
              var target = $(this).parent();
              if (target.parent().children().length > 1) {
              target.remove();
                  }
              });
            </script>
          </div>
        </div>
      </div>
      <div class = 'chat-room_action_btn_form'>
        <%= f.submit class: 'chat-room-action_btn' %>
      </div>   
      </div>

      
    </div>

  <% end %>
  </div>
</div>
